.table-hover {
	cursor: pointer;
}
.card-title {
	vertical-align: middle !important;
	-ms-user-select: text; /* IE 10+ and Edge */
	-webkit-user-select: text; /* Safari */
	user-select: all; /* Standard syntax */
}
